@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

* {
    /* max-width: 1440px; */
    margin: 0;
    padding: 0;
    /* display: flexbox; */
}




/* nav styles */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 125px;

}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-left p,
.we {
    color: #131318;
    font-size: 36px;
    font-weight: 800;

}

.nav_tra {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;

}

.nav-container img {
    width: 48px;
    height: 56.008px;
}

.nav-right ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 44px;


}

.nav-right ul li a {
    text-decoration: none;
    color: #424247;

}

.home {
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Explore Your Travel */

.img-container {
    background-image: url(styles/Images/Group\ 13\ \(1\)\ \(1\).png);
    width: 85%;
    height: 500px;
    background-size: cover;
    background-position: center;
    margin: 0 135px;
    position: relative;
    border-radius: 16px;
}

.img-container2 {
    width: 100%;
    height: 500px;
    background: #222121b3;
    border-radius: 16px;
}

.img-title {
    position: absolute;
    top: 40%;
    left: 20%;
    text-align: center;

}

.input {
    position: absolute;
    top: 60%;
    left: 20%;
    margin-top: 55px;
    gap: 24px;
    display: flex;
}

.img-title h1 {
    color: #f7f7f7;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 26px;
}

.img-title p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.btn-find {
    display: flex;
    align-items: center;
}

/* input styles */

.input>input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}

.input>select {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}

.input>button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
}

/* main section */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 135px 100px;
}

.main-text h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.main-text p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0;
}

.main-text ul>li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin: 18px 40px;
}

.btn-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
}

.text-btn {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

/* choose destination section */

.pic-title {
    text-align: center;

}

.pic-title h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.pic-title p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.pic-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    gap: 20px;

}

.pic-2 {
    margin-left: 10px;
    margin-top: 20px;
}


/* choose us section */


.choose-header {
    text-align: center;
    margin-top: 100px;
}

.choose-header p {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.choose-header p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}




.choose-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.choose-main {
    flex-direction: column;
    text-align: center;
    margin-top: 48px;
}

.ct {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 30px;
    gap: 15px;


}

.choose-title {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;

}

.choose-title,
.choose-right,
.choose-center {
    padding: 20px;
    width: 573px;
    height: 284px;
    text-align: start;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    gap: 15px;
}

.choose-center {
    margin: 0 auto;
    margin-top: 25px;
}



/* news-letter-section */

.news-letter-sec {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 100px;
}

.news-title {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    text-align: center;
    display: flex;
    flex-direction: column;


}

.news-title h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 40px;
}

.news-title p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.news-title>input {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-left: 35px;
    margin-top: 40px;
    border: 0;

}

.btn-sub {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    margin-left: 40px;
    margin-top: 24px;
    border: 0;
}

#sub {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.news-letter-sec img {
    width: 650px;
    height: 422px;
    border-radius: 16px;
    /* position: relative; */

}

.off-container {
    position: relative;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    right: -49%;
    top: -170px;
}

.off-container p {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.off-container h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}

/* reviev section */
.reee {
    text-align: center;
    color: #FFF;
    font-size: 32px;
    font-weight: 800
}

.review-section {
    background-image: url('styles/Images/pexels.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.review {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.review-card {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.review-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.review-card h3 {
    margin: 0;
}

.review-card p {
    margin: 10px 0;
}

/* footer section */
.footer-container {

    width: 1499px;

    background: rgba(19, 19, 24, 0.05);


}

.ft {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}

.ft-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ft-logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hr {
    background: rgba(19, 19, 24, 0.10);
}